version: '3.9'

services:
  mariadb:
    image: mariadb:10.6
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
    networks:
      - intranet
    ports:
      - "3306:3306"
    volumes:
      - mariadb_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin
    container_name: phpmyadmin_container
    restart: always
    environment:
      PMA_HOST: mariadb
      MYSQL_ROOT_PASSWORD: rootpassword
    networks:
      - intranet
    ports:
      - "8081:80"
    depends_on:
      - mariadb

  fastapi_app:
    build: ./
    container_name: fastapi_app
    networks:
      - intranet
    volumes:
      - ./app:/mnt/app
      - ./.github:/mnt/.github
    ports:
      - "8080:8000"

networks:
  intranet:
    driver: bridge

volumes:
  mariadb_data: